---

- ansible.builtin.include_tasks: user.yml

- name: Create configuration directory parent
  ansible.builtin.file:
    state: directory
    path: '{{ neogo__conf_dir | realpath | dirname }}'
    owner: 'root'
    group: 'root'
    mode: '0755'

- name: Create configuration directory
  ansible.builtin.file:
    state: directory
    path: '{{ neogo__conf_dir }}'
    owner: 'root'
    group: '{{ neogo__group }}'
    mode: '0750'

- ansible.builtin.include_tasks: binary.yml
  when: not neogo__use_docker|bool and neogo__binaries_download|bool

- ansible.builtin.include_tasks: wallet.yml
- ansible.builtin.include_tasks: tls.yml
  when: neogo__tls_enabled|bool

- name: Copy NeoGo config
  ansible.builtin.copy:
    content: "{{ lookup('ansible.builtin.template', 'protocol.network.yml.j2', jinja2_native=true) }}"
    dest: '{{ neogo__conf_dir }}/protocol.{{ neogo__network }}.yml'
    owner: 'root'
    group: '{{ neogo__group }}'
    mode: '0640'
  notify: [ 'Restart NeoGo{{ neogo__instance }}' ]

- name: Copy systemd unit
  ansible.builtin.template:
    src: 'neogo.service.j2'
    dest: '/etc/systemd/system/neogo{{ neogo__instance }}.service'
  notify: [ 'Restart NeoGo{{ neogo__instance }}' ]
  when: not neogo__use_docker|bool

- ansible.builtin.include_tasks: docker.yml
  when: neogo__use_docker|bool

- name: Force debops.ferm run
  ansible.builtin.include_role:
    name: debops.debops.ferm
  vars:
    ferm__dependent_rules:
      - '{{ neogo__ferm__dependent_rules }}'
  when: neogo__debops_ferm_import|bool
