---

- name: Create NeoGo group
  ansible.builtin.group:
    name: '{{ neogo__group }}'
    system: yes

- name: Create NeoGo user
  ansible.builtin.user:
    name: '{{ neogo__user }}'
    group: '{{ neogo__group }}'
    password: '*'
    shell: '/usr/sbin/nologin'
    home: '{{ neogo__home }}'
    system: yes
    skeleton: no
