{{ ansible_managed | comment }}

[Unit]
Description=NeoGo N3{{ neogo__instance }} node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neogo__bin_path }} node --config-file {{ neogo__conf_dir }}/config.yml
User={{ neogo__user }}
Group={{ neogo__group }}
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
