---

ProtocolConfiguration:
  Magic: {{ neogo__magic }}
  MaxTraceableBlocks: {{ neogo__max_traceable_blocks }}
  InitialGASSupply: {{ neogo__initial_gas_supply }}
  SecondsPerBlock: {{ neogo__seconds_per_block }}
  MemPoolSize: {{ neogo__mem_pool_size }}
  StandbyCommittee:
{% for v in neogo__standby_committee %}
    - {{ v }}
{% endfor %}
  ValidatorsCount: {{ neogo__validators_count }}
  SeedList:
{% for s in neogo__seed_list %}
    - {{ s }}
{% endfor %}
  VerifyBlocks: true
  VerifyTransactions: {{ neogo__verify_transactions | default('true') | bool }}
  P2PSigExtensions: {{ neogo__p2psig_ext_enabled }}
  StateRootInHeader: {{ neogo__stateroot_in_header_enabled }}
{% if neogo__native_activations is defined and neogo__native_activations|length > 0 %}
  NativeActivations:
{% for activation, set in neogo__native_activations.items() %}
    {{ activation }}: {{ set }}
{% endfor %}
{% endif %}
{% if neogo__hardforks is defined and neogo__hardforks|length > 0 %}
  Hardforks:
{% for hardfork, height in neogo__hardforks.items() %}
    {{ hardfork }}: {{ height }}
{% endfor %}
{% endif %}
{% if neogo__dbft_watchdog_enabled %}
  EnableDBFTWatchdog: true
  DBFTWatchdogThresholdMultiplier: {{ neogo__dbft_watchdog_threshold_multiplier }}
{% endif %}


ApplicationConfiguration:
{% if neogo__db_logfile is defined and neogo__db_logfile|length > 0 %}
  LogPath: {{ neogo__db_logfile }}
{% endif %}
  DBConfiguration:
    Type: "{{ neogo__db_type }}"
{% if neogo__db_type == 'leveldb' %}
    LevelDBOptions:
      DataDirectoryPath: "{{ neogo__data_dir }}"
{% elif neogo__db_type == 'boltdb' %}
    BoltDBOptions:
      FilePath: "{{ neogo__data_dir }}/{{ neogo__network }}.bolt"
{% endif %}
  Address: {{ neogo__p2p_address }}
  NodePort: {{ neogo__p2p_port }}
  Relay: {{ neogo__relay }}
  DialTimeout: {{ neogo__dial_timeout }}
  ProtoTickInterval: {{ neogo__proto_tick_interval }}
  PingInterval: {{ neogo__ping_interval }}
  PingTimeout: {{ neogo__ping_timeout }}
  MaxPeers: {{ neogo__max_peers }}
  MinPeers: {{ neogo__min_peers }}
  AttemptConnPeers: {{ neogo__attempt_conn_peers }}
{% if neogo__wallet_unlock | bool %}
  UnlockWallet:
    Path: "{{ neogo__wallet_path }}"
    Password: "{{ neogo__wallet_pass }}"
{% endif %}
{% if neogo__rpc_enabled | bool %}
  RPC:
    Enabled: true
    MaxGasInvoke: {{ neogo__rpc_max_gas_invoke }}
    EnableCORSWorkaround: {{ neogo__rpc_cors_kludge }}
    Address: {{ neogo__rpc_address }}
    Port: {{ neogo__rpc_port }}
{% endif %}
{% if neogo__tls_enabled | bool %}
    TLSConfig:
      Enabled: true
      Address: {{ neogo__tls_address }}
      Port: {{ neogo__tls_port }}
      CertFile: {{ neogo__tls_cert_path }}
      KeyFile: {{ neogo__tls_key_path }}
{% endif %}
{% if neogo__oracle_enabled | bool %}
  Oracle:
    Enabled: true
    AllowedContentTypes: {{ neogo__oracle_allowed_content_types }}
    AllowPrivateHost: {{ neogo__oracle_allow_private }}
    MaxTaskTimeout: {{ neogo__oracle_max_task_timeout }}
    Nodes:
{% for node in neogo__oracle_nodes %}
      - {{ node }}
{% endfor %}
    NeoFS:
      Nodes:
{% for node in neogo__oracle_neofs_nodes %}
        - {{ node }}
{% endfor %}
{% if neogo__oracle_wallet_unlock | bool %}
    UnlockWallet:
      Path: "{{ neogo__oracle_wallet_path }}"
      Password: "{{ neogo__oracle_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__stateroot_enabled | bool %}
  StateRoot:
    Enabled: true
{% if neogo__stateroot_wallet_unlock %}
    UnlockWallet:
      Path: "{{ neogo__stateroot_wallet_path }}"
      Password: "{{ neogo__stateroot_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__p2pnotary_enabled | bool %}
  P2PNotary:
    Enabled: true
{% if neogo__p2pnotary_wallet_unlock %}
    UnlockWallet:
      Path: "{{ neogo__p2pnotary_wallet_path }}"
      Password: "{{ neogo__p2pnotary_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__prometheus_enabled | bool %}
  Prometheus:
    Enabled: true
    Address: {{ neogo__prometheus_address }}
    Port: {{ neogo__prometheus_port }}
{% endif %}
{% if neogo__pprof_enabled | bool %}
  Pprof:
    Enabled: true
    Address: {{ neogo__pprof_address }}
    Port: {{ neogo__pprof_port }}
{% endif %}
