ProtocolConfiguration:
  Magic: {{ neogo__magic }}
  MaxTraceableBlocks: 2102400
  InitialGASSupply: 52000000
  SecondsPerBlock: {{ neogo__seconds_per_block }}
  MemPoolSize: 50000
  StandbyCommittee:
{% for v in neogo__standby_committee %}
    - {{ v }}
{% endfor %}
  ValidatorsCount: {{ neogo__validators_count }}
  SeedList:
{% for s in neogo__seed_list %}
    - {{ s }}
{% endfor %}
  VerifyBlocks: true
  VerifyTransactions: {{ neogo__verify_transactions | default('true') | bool }}
  P2PSigExtensions: {{ neogo__p2psig_ext_enabled }}
  StateRootInHeader: {{ neogo__stateroot_in_header_enabled }}
  NativeActivations:
    ContractManagement: [0]
    StdLib: [0]
    CryptoLib: [0]
    LedgerContract: [0]
    NeoToken: [0]
    GasToken: [0]
    PolicyContract: [0]
    RoleManagement: [0]
    OracleContract: [0]

ApplicationConfiguration:
  DBConfiguration:
    Type: "leveldb"
    LevelDBOptions:
      DataDirectoryPath: "{{ neogo__data_dir }}"
  Address: {{ neogo__p2p_address }}
  NodePort: {{ neogo__p2p_port }}
  Relay: true
  DialTimeout: 3
  ProtoTickInterval: 2
  PingInterval: 30
  PingTimeout: 90
  MaxPeers: {{ neogo__max_peers }}
  MinPeers: {{ neogo__min_peers }}
  AttemptConnPeers: 20
{% if neogo__wallet_unlock | bool %}
  UnlockWallet:
    Path: "{{ neogo__wallet_path }}"
    Password: "{{ neogo__wallet_pass }}"
{% endif %}
{% if neogo__rpc_enabled | bool %}
  RPC:
    Enabled: true
    MaxGasInvoke: 100
    EnableCORSWorkaround: {{ neogo__rpc_cors_kludge }}
    Address: {{ neogo__rpc_address }}
    Port: {{ neogo__rpc_port }}
{% endif %}
{% if neogo__tls_enabled | bool %}
    TLSConfig:
      Enabled: true
      Address: {{ neogo__tls_address }}
      Port: {{ neogo__tls_port }}
      CertFile: {{ neogo__tls_cert_path }}
      KeyFile: {{ neogo__tls_key_path }}
{% endif %}
{% if neogo__oracle_enabled | bool %}
  Oracle:
    Enabled: true
    AllowedContentTypes:
      - application/json
    AllowPrivateHost: {{ neogo__oracle_allow_private }}
    MaxTaskTimeout: 432000000s
    Nodes:
{% for v in neogo__oracle_nodes %}
      - {{ v }}
{% endfor %}
    NeoFS:
      Nodes:
{% for v in neogo__oracle_neofs_nodes %}
        - {{ v }}
{% endfor %}
{% if neogo__oracle_wallet_unlock | bool %}
    UnlockWallet:
      Path: "{{ neogo__oracle_wallet_path }}"
      Password: "{{ neogo__oracle_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__stateroot_enabled | bool %}
  StateRoot:
    Enabled: true
{% if neogo__stateroot_wallet_unlock %}
    UnlockWallet:
      Path: "{{ neogo__stateroot_wallet_path }}"
      Password: "{{ neogo__stateroot_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__p2pnotary_enabled | bool %}
  P2PNotary:
    Enabled: true
{% if neogo__p2pnotary_wallet_unlock %}
    UnlockWallet:
      Path: "{{ neogo__p2pnotary_wallet_path }}"
      Password: "{{ neogo__p2pnotary_wallet_pass }}"
{% endif %}
{% endif %}
{% if neogo__prometheus_enabled | bool %}
  Prometheus:
    Enabled: true
    Address: {{ neogo__prometheus_address }}
    Port: {{ neogo__prometheus_port }}
{% endif %}
{% if neogo__pprof_enabled | bool %}
  Pprof:
    Enabled: true
    Address: {{ neogo__pprof_address }}
    Port: {{ neogo__pprof_port }}
{% endif %}
